{# Edit blog Twig Template #}
{% extends 'base.html.twig' %}
{% block stylingdiv %}<div id="editBlogForm">{% endblock %}
{% block body %}
    {% if app.user.getUsername() == username %}
        {{ form_start(form) }}
        {{ form_widget(form) }}
        {{ form_end(form) }}

        {% if errors is not empty %}
            <div id="errors">
                {% for error in errors %}
                    <p>{{ error.messageKey|trans(error.messageData, 'security') }}</p>
                {% endfor %}
            </div>
        {% endif %}
    {% else %}
        <h2>You are not allowed to edit this blog.</h2>
    {% endif %}
    {{ tinymce_init() }}
{% endblock %}
