{# Edit post Twig Template #}
{% extends 'base.html.twig' %}
{% block stylingdiv %}<div id="editPostForm">{% endblock %}
{% block body %}
    {{ form_start(form) }}
    {{ form_widget(form) }}
    {{ form_end(form) }}

    {% if errors is not empty %}
        <div id="errors">
            {% for error in errors %}
                <p>{{ error.messageKey|trans(error.messageData, 'security') }}</p>
            {% endfor %}
        </div>
    {% endif %}
    {{ tinymce_init() }}
{% endblock %}