{# Login Twig Template #}
{% extends 'base.html.twig' %}
{% block stylingdiv %}<div id="login">{% endblock %}
{% block body %}
    {{ form_start(form) }}
    {{ form_widget(form) }}
    {{ form_end(form) }}

    {% if error is not empty %}
        <div id="errors">
                <p>{{ error.messageKey|trans(error.messageData, 'security') }}</p>
        </div>
    {% endif %}
    <a href="{{ path('signup') }}">Sign up here!</a>
{% endblock %}
