{# Print my Blog Twig Template #}
{% extends 'base.html.twig' %}
{% block stylingdiv %}<div id="myBlog">{% endblock %}
{% block body %}
    {{ form_start(form) }}
    {{ form_widget(form) }}
    {{ form_end(form) }}

    {% if results is not empty %}
        {% for result in results %}
            <h2>{{ result->getTitle() }}</h2>
            <p>{{ result->getText() }}</p>
        {% endfor %}
    {% endif %}
{% endblock %}
{# empty Twig template #}
